**/~$aderno_Digital.docx
**/~$sumen_Memoria.docx
**/~$aderno_Digital.doc
**/~$sumen_Memoria.doc
*.autosave
untitled.slx.autosave
**/.DS_Store
**/desktop.ini
**/slprj
**.slxc
**/.m~
**/.autosave
.DS_Store
*.DS_Store
*.autosave